<form action="/pred" method="post"> 
    <input type="text" name="v1" id="Avg. Area Income"  placeholder="Avg. Area Income" > <br> <br>

    <input type="text" name="v2" id="Avg. Area House Age"  placeholder="Avg. Area House Age" > <br> <br>

    <input type="text" name="v3" id="Avg. Area Number of Rooms"  placeholder="Avg. Area Number of Rooms" > <br> <br>

    <input type="text" name="v4" id="Avg. Area Number of Bedrooms"  placeholder="Avg. Area Number of Bedrooms" > <br> <br>

    <input type="text" name="v5" id="Area Population"  placeholder="Area Population" > <br> <br>

    <button type="submit">Make Prediction</button>



</form>

<h1>The Price is : {{price}} </h1>
